In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('./consulta_cand_complementar_2024_BRASIL.csv', encoding='latin1', sep=';')

In [8]:
df.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_ELEICAO,SQ_CANDIDATO,CD_DETALHE_SITUACAO_CAND,DS_DETALHE_SITUACAO_CAND,CD_NACIONALIDADE,DS_NACIONALIDADE,CD_MUNICIPIO_NASCIMENTO,...,CD_SITUACAO_JULGAMENTO_PLEITO,DS_SITUACAO_JULGAMENTO_PLEITO,CD_SITUACAO_JULGAMENTO_URNA,DS_SITUACAO_JULGAMENTO_URNA,CD_SITUACAO_CASSACAO,DS_SITUACAO_CASSACAO,CD_SITUACAO_CASSACAO_MIDIA,DS_SITUACAO_CASSACAO_MIDIA,CD_SITUACAO_DIPLOMA,DS_SITUACAO_DIPLOMA
0,17/09/2024,19:31:43,2024,619,250002194009,-3,#NE,1,BRASILEIRA NATA,-3,...,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#
1,17/09/2024,19:31:43,2024,619,250001996723,-3,#NE,1,BRASILEIRA NATA,-3,...,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#
2,17/09/2024,19:31:43,2024,619,250002156370,-3,#NE,1,BRASILEIRA NATA,-3,...,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#
3,17/09/2024,19:31:43,2024,619,250002360470,-3,#NE,1,BRASILEIRA NATA,-3,...,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#
4,17/09/2024,19:31:43,2024,619,50002256288,-3,#NE,1,BRASILEIRA NATA,-3,...,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#,-1,#NULO#